@charset "UTF-8";

.todo-table-height {
	max-height: 520px;
}

.todo-table { 
	margin: 0 0;
	
	tr {
        height: 40px;
    }
	
	.table-col-date {
		width: 120px;
	}
	
	.table-col-title {
        width: 300px;
    }
    
    .table-col-content {
        width: 500px;
    }
    
    .table-col-btn {
        width: 80px;
    }
}