<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common :: head(title='Login')}"></head>
<body>
	<header th:replace="~{common :: header(isLoggedIn=false, userName='')}"></header>
	<div class="container position-relative">
		<div
			class="position-absolute top-0 start-50 translate-middle-x mt-5 w-100 row justify-content-center">
			<div class="card p-3 col-4 row">
				<h3 class="card-title col-12">ログイン</h3>
				<div class="card-body">
					<div class="text-center text-danger">
						<p th:if="${param.logout}">ログアウトしました。</p>
						<p th:if="${param.error}">ログインに失敗しました。</p>
					</div>
					<form action="#" th:action="@{/login}" method="post"
						class="d-flex flex-column justify-content-center align-items-center gap-3">
						<div class="col-12">
							<label for="username" class="form-label">ユーザID</label>
							<input type="text" class="form-control" id="username"
								name="username" required>
						</div>
						<div class="col-12">
							<label for="password" class="form-label">パスワード</label>
							<input type="password" class="form-control" id="password"
								name="password" required>
						</div>
						<div class="col-12 row justify-content-center align-items-center">
							<button type="submit" class="col-auto btn btn-primary">Login</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>