<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
	<h1>Login</h1>
    <form action="#" th:action="@{/login}" method="post">
        <label for="userId">ID:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="userPw">PW:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>

	<p th:if="${param.logout}">ログアウトしました。</p>
    <p th:if="${param.error}">ログインに失敗しました。</p>
</body>
</html>