<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Todo List</h1>
	<form action="#" th:action="@{/todo/insert}" method="post">
		<input type="date" name="todoDate" placeholder="日付を入力(任意)"> <input
			type="text" name="todoTitle" placeholder="タイトルを入力(必須)" required>
		<input type="text" name="todoContent" placeholder="内容を入力(任意)">
		<button type="submit">Add</button>
	</form>
	<table>
		<tr>
			<th>日付</th>
			<th>タイトル</th>
			<th>内容</th>
			<th>削除</th>
		</tr>
		<tr th:each="todo : ${todoList}">
			<td th:text="${todo.todoDate}"></td>
			<td th:text="${todo.todoTitle}"></td>
			<td th:text="${todo.todoContent}"></td>
			<td><a th:href="@{/todo/delete/{id}(id=${todo.todoId})}">削除</a></td>
		</tr>
	</table>
</body>
</html>